.container {
  background: #ffd600;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  // justify-content: start;
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 600px;
  min-width: 500px;
}
