.taskItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: $white;
  padding: 5px 9px;
  border-radius: 6px;
  width: 90%;

  transition: background-color .2s ease-out;
 

  &:nth-child(3n+1) { //1 4 7
    background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, .8) 100%);
    &:hover {
      background-color: rgba(17, 122, 255, 1) ;
      color: #585858;
    }
  }

  &:nth-child(3n+2) { //2 5 8
    background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, .8) 100%);
    &:hover {
      background-color: rgba(255, 84, 17, 1) ;
      color: #585858;
    }
  }

  &:nth-child(3n+3) { //3 6 9
    background: linear-gradient(90deg, 	rgba(87, 200, 77, 1) 0%, rgba(46, 182, 44, 1)  100%);
    &:hover {
      background-color:	rgba(46, 182, 44, 1);
      color: #585858;
    }
  }

  // &.complete {
  //   text-decoration: line-through;
  //   opacity: 0.4;
  // }


  //edit
  &.animate__animated.animate__zoomIn {
    --animate-duration: .3s;
  }
}

.icons {
  font-size: 0px;
}
.icons > .MuiSvgIcon-root {
  vertical-align: center;
  cursor: pointer;
}
