.taskItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: $white;
  padding: 5px 9px;
  border-radius: 6px;
  width: 90%;
  transition: all .3s ease-out; //all: bg color & color
 

  &:nth-child(3n+1) { //1 4 7
    background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, .8) 100%);
    &:hover {
      background-color: rgb(7, 77, 168) ;
    }
  }

  &:nth-child(3n+2) { //2 5 8
    background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, .8) 100%);
    &:hover {
      background-color: rgb(156, 52, 11) ;
    }
  }

  &:nth-child(3n+3) { //3 6 9
    background: linear-gradient(90deg, 	rgba(87, 200, 77, 1) 0%, rgba(46, 182, 44, .8)  100%);
    &:hover {
      background-color:	rgb(36, 97, 31);
    }
  }

  .icons {
    transition: all .3s ease-out; //all: bg color & color
    font-size: 0px;
    &:hover {
      color: #585858;
    }

    .MuiSvgIcon-root {
      cursor: pointer;
    }
  }

  //edit
  &.animate__animated.animate__zoomIn {
    --animate-duration: .3s;
  }

  .completed {
    opacity:.6;

    &::before{
      content:'';
      position:absolute;
      top:45%;
      left:0rem;
      display:block;
      width:0%;
      height:2px;
      background:$white;
      animation:strike .3s ease-out 0s forwards;
    }
  }
}


@keyframes strike {
  to {
    width: calc(100%);
  }
}