.taskItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: $white;
  padding: 5px 9px;
  border-radius: 6px;
  width: 90%;

  &:nth-child(2n+1) { 
    background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
  }
  &:nth-child(2n+2) { 
    background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);
   }

  &.complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
}

.icons > .MuiSvgIcon-root {
  color: $white;
  font-size: 1.2rem;
  vertical-align: middle;
  cursor: pointer;
}
