.form{
  margin-bottom: 32px;

  .task-input{
    padding: 16px 32px 17px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #311b92;
    outline: none;
    width: 320px;
    background: transparent;
    color: $black;

    &::placeholder {
      color: $black;
      font-family: $font-1;
    }
  }

  .task-button{
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #311b92;
    color: $white;
    text-transform: capitalize;
    font-family: $font-1;
  }
}
