@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');



$font-1: 'Coming Soon', cursive;
$white: #fff;
$black: #333;

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
overflow-y: scroll;
}

body {
  background: #311b92;
  background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");  
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: $font-1, cursive;
  text-align: center;
  font-size: 130%; 
}

